<nav class="navbar">
  <div class="nav-container">
    <!-- Logo/Brand -->
    <div class="nav-brand">
      <a routerLink="/" class="brand-link">
        <span class="brand-icon">🗺️</span>
        <span class="brand-text">TourGuide</span>
      </a>
    </div>

    <a *ngIf="isLoggedIn()" routerLink="/profile" class="nav-link">
    <mat-icon>account_circle</mat-icon>
    Moj Profil
  </a>

    <!-- Navigacija za prijavljenog korisnika -->
    <div class="nav-links" *ngIf="authService.user$ | async as user">
      <a *ngIf="user.role === 'tourist' || user.role === 'guide'" 
         routerLink="/blogs" 
         routerLinkActive="active-link">
        Blogs
      </a>

      <a *ngIf="user.role === 'tourist'" 
        routerLink="/position-simulator" 
        routerLinkActive="active-link">
        Position Simulator
      </a>

      <!-- Dodato: link za kreiranje ture samo za guide -->
      <a *ngIf="user.role === 'guide'" 
         routerLink="/create-tour" 
         routerLinkActive="active-link">
        Create Tour
      </a>

      <a *ngIf="user.role === 'guide'" 
         routerLink="/tours" 
         routerLinkActive="active-link">
         Tours
      </a>
    </div>
    
    <!-- Auth Buttons -->
    <div class="nav-auth">
      <ng-container *ngIf="!(authService.user$ | async)?.username; else loggedIn">
        <a routerLink="/register" class="auth-link register-btn">Register</a>
        <a routerLink="/login" class="auth-link register-btn">Login</a>
      </ng-container>

      <ng-template #loggedIn>
        <button class="auth-link logout-btn" (click)="logout()">Logout</button>
      </ng-template>
    </div>
  </div>
</nav>
