<div class="cart-container">
  <h2>My Cart</h2>

  <div *ngIf="cartItems.length === 0" class="empty-cart">
    Your cart is empty.
  </div>

  <div class="cart-list" *ngIf="cartItems.length > 0">
    <div *ngFor="let tour of cartItems" class="cart-item">
      <h3>{{ tour.id }}</h3>
      <p><strong>Name:</strong> {{ tour.name }} </p>
      <p><strong>Price:</strong> {{ tour.price }} €</p>
      <button class="remove-btn" (click)="removeFromCart(tour.id!)">Remove</button>
    </div>

    <div class="cart-actions">
      <button class="clear-btn" (click)="clearCart()">Clear Cart</button>
      <button class="buy-btn" (click)="buyTours()">Buy</button>
    </div>


    <div class="total">
      <h3>Total: {{ totalPrice }} €</h3>
    </div>
  </div>
</div>
